@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
	
	var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
<article class="box post container 75%">
	<header>
		<h2>@pageTitle</h2>
		@CurrentPage.BodyText
	</header>
	<div>
		<div class="row">
			<div class="12u">
								
				@Html.Partial("umbContact",new BrightIdeas.ContactFormModel())
			</div>
		</div>
	</div>
</article>