@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
     Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;    
	
	//var media = Umbraco.Media(CurrentPage.Image);
}
						
<article class="box post container 75%">
	
	<header>
		<h2>@pageTitle</h2>
		<p>Lorem ipsum dolor sit amet feugiat</p>
	</header>
	<div>
		<div class="row">
			<div class="12u">
				@CurrentPage.BodyText			
			</div>
		</div>
	</div>
</article>
<!-- /Main -->